.header {
    background: #f01f1f;
    color: #fff;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    max-width: calc(3000px - 2em);
    width: 250%;
    font-size: 2em;
    box-shadow: 0px 0px 16px 0px #D50000;
    padding: 0 1em;
  }

#groupedbar #dropdown{
    /* float:right; */
    margin: 10px 0px 0px 10px;
  
  }
  #groupedbar #dropdown select {
      padding: 4px 8px;
      border-color: #FF1744;
      border-radius: 4px;
  }

  #groupedbar #dropdown{
    /* float:right; */
    margin: 10px 0px 0px 10px;
  
  } 

  #my_dataviz{
    padding: 4px 8px;

  }